@charset "utf-8";
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
thead,
tbody,
tfoot,
div,
input,
textarea,
button,
span {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 20px;
  font-family: "Microsoft Yahei", "Î¢ÈíÑÅºÚ", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 15px;
  corlor: #222;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  /* -webkit-touch-callout:none;*/
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*È¥³ý¸ßÁÁ*/
}

div,
input,
textarea,
button,
ul,
li,
span,
 ::before,
 ::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
}

input,
textarea {
  resize: none;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  -webkit-appearance: none;
}

label {
  display: block;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

.nocopy {
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background: url("../assets/main-bg.png")no-repeat center center;
  background-size: 100% 100%;
  padding: 1rem 10%;
}

.mainBg {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.warp {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.myform,
.mainbox {
  width: 500px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  /*margin: -100px 0 0 0;*/
  margin: -100px 0 0 -250px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
}

.userbox {
  width: 500px;
  height: 270px;
  position: relative;
  top: 50%;
  left: 50%;
  /*margin: -100px 0 0 0;*/
  margin: -135px 0 0 -250px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
}

.checkbox {
  /*width: 40%;*/
  margin: 0 auto;
  text-align: center;
}

.el-checkbox__label {
  font-size: 18px;
}

.myform,
.failtitle {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
}

.maintitle,
.userFormTitle {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0;
}

.userFormTitle {
  padding: 30px 0;
}

.failtitle {
  line-height: 100px;
}

.datap {
  font-size: 18px;
  text-align: left;
}

.title {
  font-size: 18px;
  text-align: left;
  display: inline-block;
}

.myform-box {
  position: relative;
  top: 30px;
}

.winput {
  width: 70%;
  margin-right: 10%;
}

.userform-box {
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.userform-box button {
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}


.userform-box button:last-child {
  float: none;
}

.succ h3 {
  padding: 40px;
}

.reset-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  margin: 0 0 0 -40%;
  width: 80%;
  text-align: center;
}

.reset-warp h3 {
  padding: 0;
  margin: 18px 0 10px;
}

.pink {
  color: pink;
}

.listwarp {
  position: absolute;
  left: 25%;
  top: 0;
  margin: 0 auto;
  width: 50%;
}


.datep {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  float: left;
  margin: 20px 0 0 10px;
}

.listwarp button {
  position: absolute;
  right: 0;
  top: 20px;
}

.listwarp-box {
  position: relative;
  top: 80px;
  margin: 0 auto 40px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

.userListBox {
  height: 98%;
  border: 1px solid #eee;
}






/* userlist */

.userListBox {
  border: 1px solid #f3f4f3;
  position: relative;
  background-color: #fafafa;
}

.usertable {
  padding-left: 160px;
}

.userListNav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 100%;
  background-color: #FAFAFA;
  border-right: 1px solid #ebeef2;
}

.userListNav li {
  height: 48px;
  line-height: 48px;
  padding-left: 10px;
  border-bottom: 1px solid #ebeef2;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  background-color: #FAFAFA;
}

.userListNav li.active {
  color: #409eff;
}

.selectList {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

.selectList-title {
  font-weight: normal;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ebeef2;
}

.selectList ul {
  text-align: center;
  padding-top: 30px;
  font-size: 0;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.selectList ul li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #222;
}

.selectTitle {
  display: inline-block;
}

.selectName {
  display: inline-block;
  width: 220px;
}

.usertable {
  height: 100%;
}

.orderSet {
  width: 400px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -200px;
}

.orderSet p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
}

.orderSetBtn {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  width: 40%;
  display: block;
}

@media screen (min-width: 1200px) {
  .listwarp {
    width: 50%;
    border: 1px solid red;
  }
}

@media screen and (max-width: 414px) {
  body {
    padding: 1rem 3%;
  }
  .myform {
    width: 100%;
    height: 240px;
    margin: -120px 0 0 -50%;
  }
  .userform-box {
    padding: 0 20px;
  }
  .userFormTitle {
    padding: 40px 0;
  }
  .mainbox {
    width: 100%;
    height: 200px;
    margin: -100px 0 0 -50%;
  }
  .reset-warp h3 {
    padding: 0;
    margin: 30px 0 10px;
  }
  .failtitle {
    font-size: 20px;
    line-height: 90px;
  }
  .listwarp {
    width: 92%;
    height: 100%;
    position: absolute;
    left: 4%;
    top: 0;
  }
  .listwarp-box {
    box-sizing: border-box;
    width: 100%;
  }

  /* 首页 */
  .myform-box {
    position: relative;
    top: 15%;
  }
  .myform-box .winput {
    width: 70%;
    margin-right: 0;
  }
  .userListBox {
    height: 600px;
    border: 1px solid #eee;
  }
  .userbox {
    width: 90%;
    height: 340px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -45%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 20px;
  }
  .el-select {
    margin-bottom: 20px;
  }
  .el-message-box {
    width: 98%;
  }
}

.el-table th {
  background: #ecf5ff;
}

.el-table th,
td {
  text-align: center;
}
