@charset "utf-8";
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
thead,
tbody,
tfoot,
div,
input,
textarea,
button,
span {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 20px;
  font-family: "Microsoft Yahei", "Î¢ÈíÑÅºÚ", "Helvetica Neue", "Hiragino Sans GB", Tahoma, Arial, STHeiti, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 15px;
  corlor: #222;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  /* -webkit-touch-callout:none;*/
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*È¥³ý¸ßÁÁ*/
}

div,
input,
textarea,
button,
ul,
li,
span,
 ::before,
 ::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  outline: none;
}

input,
textarea {
  resize: none;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  -webkit-appearance: none;
}

.fr {
  float: right;
}

label {
  display: block;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e0e0e0;
  font-size: 1em;
  line-height: normal;
}

.nocopy {
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background: url("../assets/main-bg.png")no-repeat center center;
  background-size: 100% 100%;
}


.mainBg {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.warp {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.myform,
.mainbox {
  width: 500px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -250px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
}

.userbox {
  width: 500px;
  height: 270px;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -135px 0 0 -250px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
}

.ufRemarks {
  width: 217px;
  display: inline-block;
}

.checkbox {
  display: inline-block;
}

.el-checkbox__label {
  font-size: 18px;
}

.myform,
.failtitle {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
}

.maintitle,
.userFormTitle {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  padding: 20px 0;
}

.userFormTitle {
  padding: 30px 0;
}

.mackText {
  padding: 0 10%;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  height: 260px;
  display: table-cell;
  vertical-align: middle;
}

.failtitle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin: -12px 0 0 -50%;
}

.datap {
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
}

.title {
  font-size: 18px;
  text-align: left;
  display: inline-block;
  line-height: 24px;
}

.myform-box {
  position: relative;
  top: 30px;
}

.winput {
  width: 70%;
  margin-right: 10%;
}

.userform-box {
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.userform-box button {
  float: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}


.userform-box button:last-child {
  float: none;
}

.succ h3 {
  padding: 40px;
}

.reset-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  margin: 0 0 0 -40%;
  width: 80%;
  text-align: center;
}

.reset-warp h3 {
  padding: 0;
  margin: 18px 0 10px;
}

.pink {
  color: pink;
}

.listwarp {
  position: absolute;
  left: 25%;
  top: 0;
  margin: 0 auto;
  width: 50%;
}


.datep {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  float: left;
  margin: 20px 0 0 10px;
}

.listwarp button {
  position: absolute;
  right: 0;
  top: 20px;
}

.listwarp-box {
  position: relative;
  top: 80px;
  margin: 0 auto 40px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

.userList {
  width: 100%;
  position: relative;
  height: 100%;
}

.userListBox {
  border: 1px solid #eee;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.el-ico-size {
  font-size: 18px;
}




/* userlist */

.userListBox {
  position: relative;
  background-color: #dfe5e5;
}

.userListCon {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  float: left;
}

.userListCon-sub {
  margin: 0 0 0 160px;
  height: 100%;
}

.userlist-head {
  width: 100%;
  height: 64px;
  padding: 10px 20px;
  background-color: #222;
}

.ulhead-title {
  font-weight: normal;
  font-size: 24px;
  color: #fff;
  display: inline-block;
}

.userListNav {
  width: 160px;
  height: 100%;
  float: left;
  margin: 0 0 0 -100%;
  height: 100%;
  background-color: #464646;
}

.admin-ico {
  height: 160px;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
}

.admin-ico img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.userListNav li {
  height: 48px;
  line-height: 48px;
  padding-left: 10px;
  font-size: 14px;
  color: #969891;
  cursor: pointer;
  background-color: #464646;
}

.userListNav li.active {
  color: #dd0f71;
  background: #585657;
}

.userListNav li.active::before {
  content: "";
  border-left: 2px solid #dd0f71;
  position: absolute;
  left: 0;
  height: 48px;
}

.selectList {
  position: relative;
  top: 0;
  left: 0;
  height: 90%;
}

.selectList-title {
  font-weight: normal;
  font-size: 18px;
  height: 40px;
  color: #212326;
  line-height: 40px;
  padding-left: 20px;
  color: #dd0f71;
  border-bottom: 1px solid #fff;
}

.selectList ul {
  text-align: center;
  padding-top: 30px;
  font-size: 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.selectList ul li {
  margin-bottom: 20px;
  font-size: 14px;
  color: #222;
  display: inline-block;
  margin-right: 40px;
}









/*.selectTitle {
  display: inline-block;
}
*/


/*.selectName {
  display: inline-block;
  width: 217px;
}*/

.usertable {
  height: 100%;
}

.orderSet {
  width: 240px;
  height: 100px;
  margin: 14% auto;
}

.addList-p {
  padding-top: 20%;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
}

.orderSetBtn {
  margin: 0 auto;
  text-align: center;
  margin: 10% auto;
  width: 40%;
  display: block;
}

.editFormName {
  width: 217px;
}

.el-dialog {
  width: 30%;
}

.updateSet {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 14px;
  margin-left: 22%;
}





/* 开关样式 */

.container {
  display: inline-block;
}

.container .text {
  display: none;
}

.on {
  color: #333;
}

.off {
  color: #eee;
}

.circle {
  position: absolute;
  display: inline-block;
}

#radio~label {
  background-color: grey;
}

#radio~label .circle {
  left: 0;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
}

#radio~label .on {
  display: none;
}

#radio~label .off {
  display: inline-block;
}

#radio:checked~label {
  background: rgb(19, 206, 102);
}

#radio:checked~label .circle {
  left: 35px;
}

#radio:checked~label .on {
  display: inline-block;
  text-indent: 10px;
}

#radio:checked~label .off {
  display: none;
}

.container label {
  display: inline-block;
  position: relative;
  height: 22px;
  width: 58px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}

.container label .circle {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #fff;
}

.container label .text {
  text-indent: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  font-family: sans-serif;
  text-shadow: 0 0 2px #ddd;
}




/* userform 卡片 */

.box-card {
  width: 500px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -135px 0 0 -250px;
}

.pagesbox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.thanktitle {
  width: 500px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  height: 120px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media screen (min-width: 1200px) {
  .listwarp {
    width: 50%;
    border: 1px solid red;
  }
}


@media screen and (max-width: 414px) {
  body {
    padding: 1rem 3%;
  }
  .box-card {
    width: 90%;
    margin: -135px 0 0 -45%;
  }
  .mackText {
    padding: 0 5%;
  }
  .myform {
    width: 100%;
    height: 240px;
    margin: -120px 0 0 -50%;
  }
  .userform-box {
    padding: 0 20px;
  }
  .userFormTitle {
    padding: 30px 0;
  }
  .mainbox {
    width: 100%;
    height: 200px;
    margin: -100px 0 0 -50%;
  }
  .reset-warp h3 {
    padding: 0;
    margin: 30px 0 10px;
  }
  .failtitle {
    font-size: 20px;
  }
  .listwarp {
    width: 92%;
    height: 100%;
    position: absolute;
    left: 4%;
    top: 0;
  }
  .listwarp-box {
    box-sizing: border-box;
    width: 100%;
  }

  /* 首页 */
  .myform-box {
    position: relative;
    top: 15%;
  }
  .myform-box .winput {
    width: 70%;
    margin-right: 0;
  }
  .userListBox {
    height: 600px;
    border: 1px solid #eee;
  }
  .userbox {
    width: 90%;
    height: 320px;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -45%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 20px;
  }
  .el-select {
    margin-bottom: 20px;
  }
  .el-message-box {
    width: 92% !important;
  }
  .thanktitle {
    width: 300px;
  }
}

.el-table {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #fff;
  margin-bottom: 65px;
}

.el-table th {
  background: #ecf5ff;
}

.el-table th,
.el-table td {
  text-align: center !important;
}

.addList {
  width: 410px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -205px;
  border-radius: 6px;
  background: #fff;
}



















/*登录*/

.login-item {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.login-item h3 {
  text-align: center;
  font-weight: normal;
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

.login-box {
  width: 100%;
  position: relative;
  padding: 0 10%;
  box-sizing: border-box;
  margin: 0 auto;
}

.login-box li {
  width: 100%;
  height: 63px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.login-box li.uname:before,
li.pwd:before {
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 18px;
  position: absolute;
  left: 7px;
  top: 36px;
}

.login-box li.uname:before {
  background: url("../assets/users.png") no-repeat left center;
}

.login-box li.pwd:before {
  background: url("../assets/pwd.png") no-repeat left center;
}

.login-box li input {
  border: none;
  height: 30px;
  width: 80%;
  top: 30px;
  position: relative;
  left: 30px;
  font-size: 18px;
}

.login-card {
  width: 460px;
  height: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -230px;
  border-radius: 10px;
}

.login-btn {
  width: 70%;
  margin: 30px auto 0;
  display: block;
  text-align: center;
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
  text-align: center;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
}

.unametext {
  -webkit-appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 1;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  position: relative;
  width: 67%;
  margin-right: 10px;
}

.unametext:focus {
  border: 1px solid #409eff;
}
