body {
  height: 100%;
}

#home {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: rgba(7, 17, 27, 0.95);
}

#myCanvas {
  background-color: black;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
}



.list {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}

.warp {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.myform,
.mythank {
  width: 500px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -250px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px;
}

.mythank h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 200px;
  margin: 0;
}

.myform h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  padding-top: 25px;
}

.myform-box {
  position: relative;
}

.myform-box .winput {
  width: 70%;
  margin-right: 10%;
}

@media (max-width: 480px) {
  .myform,
  .mythank {
    width: 80%;
    height: 200px;
    margin: 200px 0 0 -45%;
  }
}

.userform-box {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.userform-box button {
  float: left;
}


.userform-box button:last-child {
  float: right;
}

.succ h3 {
  padding-top: 55px;
}

.reset-btn {
  position: relative;
  display: block;
  margin: 0 auto;
}

.reset-warp h3 {
  padding-top: 0;
}

.pink {
  color: pink;
}

.listwarp {
  /*margin: 8px;*/
  position: absolute;
  left: 25%;
  top: 0;
  margin: 0 auto;
  width: 50%;
}


.datep {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  float: left;
  margin: 20px 0 0 10px;
}

.listwarp button {
  position: absolute;
  right: 0;
  top: 20px;
}

.listwarp-box {
  position: relative;
  top: 80px;
  margin: 0 auto 40px;
  width: 100%;
  border: 1px solid #c2c2c2;
}

@media screen (min-width: 1200px) {
  .listwarp {
    width: 50%;
    border: 1px solid red;
  }
}

@media (max-width: 480px) {
  .listwarp {
    width: 92%;
    height: 100%;
    position: absolute;
    left: 4%;
    top: 0;
  }
  .listwarp-box {
    box-sizing: border-box;
    width: 100%;
  }
}

.el-table th {
  background: #ecf5ff;
}

.el-table th,
td {
  text-align: center;
}
