@import './mixin';
@import './var.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: $font-size-base;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color-regular;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100%;
  background: url("../images/bg1.jpg") no-repeat;
  // background-size: 100% 100%;
  // filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  background-size: cover;
  background-position: center center;
}

.form-warp {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  background-color: #ffffff;
  border-radius: 3px;
  text-align: center;
  h1 {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}