.form-warp {
  width: 500px;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  background-color: #ffffff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}